.footer_top {
    width: 100%;
    height: 200px;
    background-color: #f9f5f3;
    align-items: center;
    text-align: center;
    }

.footer_top ul {
    list-style: none;
    padding: 70px 0 0;
    
}

.footer_top ul li {
    box-sizing: border-box;
    width: 25%;
    float: left;
}

.footer_top ul li p {
    color: #c18e70;
}

.footer_middle {
    text-align: center;
  }
  
  .footer_middle h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
    /* border-bottom: 1px solid black;
    width: 130px; */
  }
  
  .footer_middle ul {
    list-style: none;
    font-size: 13px;
    letter-spacing: 1px;
  }
  
  .footer_middle ul li {
    margin-bottom: 5px;
  }
  
  .footer_middle ul li:last-child {
    margin-bottom: 20px;
  }

footer {
    height: 40px;
    font-size: 10px;
    border-top: 1px solid gray;
    border-width: 90%;
    padding: 12px 20px;
}

.footer_text {
    margin-left: 10px;
}

.responsive_button {
    display: none;
}

/*--------------レスポンシブ対応-------------- */
/* スマホ用 */
@media screen and (max-width: 480px){
body{
    min-width: 375px;
    align-items: center;
    margin: 0;
}

.responsive_button {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #f9f5f3;
    color: #fff;
}

.footer_top {
    display: none;
}

footer {
    background-color: black;
    color: #fff;
    height: 20px;
    text-align: center;
}


}